.bookingTableForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 16px;
  width: 100%;
  min-width: 300px;

  .dateTimePicker {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .picker {
      width: 49%;
    }

  }

  .submitButton {
    width: 100%;
    color: white;
  }

  .selectTypesOfPlace {
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FAEECD;
    width: 100%;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    &:global(.Mui-focused) {
      background-color: #FAEECD;
    }

    &:hover{
      background-color: #FAEECD;
    }


    div {
      padding-top: 15px;
      padding-bottom: 15px;

      &:focus {
        background-color: transparent;
      }

    }
  }

  .availableTables {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 31px;
    gap: 10px;
    background: #FAEECD;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 100%;
  }

  .commentInput {
    width: 100%;
    border-radius: 20px;
    background: #FAEECD;
    input {
      color: black;
    }

  }

}

ul {
  .option {
    color: black;
    background-color: #FAEECD;
  }

  background-color: #FAEECD;
}


