body {
  background: radial-gradient(53.62% 55.73% at 55.24% 50.68%, #FFE9B0 36.46%, #E3CD92 100%);
}

.menuPage {
  padding: 100px 10px 0 10px;
  min-width: 900px;
  height: 100%;
  display: flex;

  .dishesWrapper {
    margin-left: 0;
  }

  .bookingTableFormWrapper {


    padding-left: 0;
    min-width: 400px;
    margin-left: 10px;

  }

  .foodCategories, .bookingTableFormWrapper {
    & > div {
      position: sticky;
      top: 100px;
    }
  }

}
